{% include base_path %}

<div class="teaching__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="teaching__header">
      <h2 class="teaching__title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
      </h2>
      <div class="teaching__meta">
        <span class="teaching__venue"><strong>{{ post.venue }}</strong></span>
      </div>
    </div>
    
    <div class="teaching__content">
      {{ post.content }}
    </div>
  </article>
</div>

